<!DOCTYPE html>
<html>
  <head>
    <title>BreakfastExampleApp</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "vendor.js" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
